<!-- src/app/dashboard/dashboard.component.html -->

<h1>Dashboard</h1>

<div class="dashboard-container">

    <div class="dashboard-grid">
        <!-- Summary Cards -->
        <mat-card class="dashboard-card" *ngFor="let stat of summaryStats" (click)="navigate(stat)">
          <mat-card-header>
            <mat-card-title>{{ stat.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ stat.value }}
          </mat-card-content>
        </mat-card>
      </div>

  <!-- Quick Actions -->
  <div class="quick-actions">
    <h2>Quick Actions</h2>
    <div>
      <button mat-raised-button color="primary" (click)="navigateToAddEmployee()">Add Employee</button>
      <button mat-raised-button color="primary" (click)="navigateToAddCustomer()">Add Customer</button>
      <button mat-raised-button color="primary" (click)="navigateToScheduleAppointment()">Schedule Appointment</button>
      <!-- More actions here -->
    </div>
  </div>

  <!-- Recent Activity
  <div class="recent-activity">
    <h2>Recent Activity</h2>
    <mat-list>
      <mat-list-item *ngFor="let activity of recentActivities">
        {{ activity.description }}
      </mat-list-item>
    </mat-list>
  </div> -->

  <!-- Alerts or Notifications -->
  <!-- <div class="alerts">
    <h2>Alerts</h2>
    <mat-card class="alert-card" *ngFor="let alert of alerts">
      <mat-card-content>
        {{ alert.message }}
      </mat-card-content>
    </mat-card>
  </div> -->

</div>
